/*600px 768px 992px 1200px 360px  480px 320px 801px 641px  */



@media (min-width: 991px) {
  body {
    width: 100;
    background-color: #20232a;
    position: relative;
    color: #ccc;
    font-family: 'Montserrat', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
 body.result {
    width: 100%;
    position: fixed;
    display: block;
    overflow-x: hidden;
}
  .search {
    width: 50%;
  }
  .search-heading {
    text-align: center;
    font-size: 2.3rem;
    padding: 12px 0;
    font-weight: 500;
    text-transform: uppercase;
  }
  .search-subheading {
    text-align: center;
    font-size: .85rem;
  }
  .search-form {
    margin-top: 10px;
    position: relative;
    width: 100%;
  }
  .search-form input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #ccc;
    display: block;
    margin: 0 auto;
    padding: 0 10px;
    color: #333;
    outline: none;
    -webkit-transition: background-color .25s ease;
    transition: background-color .25s ease;
    font-size: 1rem;
  }
  .search-form input:focus {
    background-color: darkgray;
  }
  .search-form span {
    position: absolute;
    right: 10px;
    top: 15px;
    color: #33333369;
    z-index: 5;
    font-size: 1.1rem;
  }
  header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 0;
    -webkit-box-shadow: 0 6px 18px rgba(21, 17, 17, 0.6);
            box-shadow: 0 6px 18px rgba(21, 17, 17, 0.6);
    background-color: #20232a;
    z-index:10;
  }
  header .brand-logo h3 {
    padding: 0 0 0 25px;
    color: #ccc;
    font-size: 1.8rem;
    font-weight: 600;
    
  }
  header .search-bar form input {
    width: 650px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: #ccc;
    display: block;
    margin: 0 auto;
    padding: 0 15px;
    color: #333;
    outline: none;
    -webkit-transition: background-color .25s ease;
    transition: background-color .25s ease;
    font-size: .9rem;
  }
  header .search-bar form input:focus {
    background-color: darkgray;
  }
  header .graphics {
    width: 35px;
    height: 35px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin-right: 20px;
    transition:all 0.5s;
  }
  .active{
transform: rotate(50deg);
  }
  header .graphics .square {
    background-color: #ccc;
  }
  h3 {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin: 45px 0 35px;
    text-transform: capitalize;
  }
  .steve{
    float: right;
    background:white;
    height:100vh;
    z-index:2;
    border:3px 3px;
    width:25%;
    transform:translateX(100%);
    transition:all 1s;
    
  }
  .steve-active{
    transform:translateX(0%);
  }
  .search-container {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 5px;
            column-gap: 5px;
    width: 100%;
  }
  .search-container .search-container-item {
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin: 5px auto 25px;
  }
  .search-container .search-container-item .search-meta {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 12px;
  }
  .search-container .search-container-item .search-meta span {
    font-size: .85rem;
  }
  .search-container .search-container-item .search-meta span i {
    padding-right: 10px;
  }
  .search-container .search-container-item .search-body p {
    line-height: 1.6;
    font-size: .95rem;
  }
  .dog{
    border:1px solid black;
    height:100%;
    overflow-y: scroll;
     color:black;
  }
  .inside{
    display: flex;
    margin-top:10px;
    height:100px;
    background-color:#20232a;
    width:100%;
    color:white;
  }
  .inside, p{
    display: flex;
    flex-direction: column;
     cursor: pointer;
  }
  .inside a{
    text-decoration: none;
    color:white;
  }
  .inside button{
    width:150px;
    font-size:large;
    outline: none;
    border: none;
    background:none;
    
  } 
  .inside i{
    color:green;
  }
  .think{
    color:red;
  }
  .message{
   border: 1px solid white;
    width: 35%;
    text-align: center;
    margin: auto;
    margin-top:4%;
  }
  .message ul{
    display: block;
    padding:1rem;
    width:100%;
    height:300px;
    overflow-y: scroll;
    background-color:white;
  }
  .message ul li{
    list-style: none;
    color:#20232a;
  }
 .message input{
    width:250px;
    height:30px;
    outline:none;
  }
 .message button{
    height:30px;
       transform: translateX(-4px);
       width:50px;
       background:white;
       color:#20232a;
       outline:none;
       border:none;
       transition:0.2s all;
  }
  .message button:hover{
    background-color:#20232a;
    color:white;
  }
  .message input button{
    margin:0px;
    
  }
  .list{
    display: block;
    text-align: left;
    
  }
  .list li{
      border:0.5px solid #20232a;
      margin:4px;
  }
  
}




@media   (max-width: 990px) {
  body {
    width: 100vw;
    height: 100vh;
    background-color: #20232a;
    position: relative;
    color: #ccc;
    font-family: 'Montserrat', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
 body.result {
    width: 100%;
    position: fixed;
    display: block;
    overflow-x: hidden;
}
  .search {
    width: 75%;
  }
  .search-heading {
    text-align: center;
    font-size: 1.8rem;
    padding: 12px 0;
    font-weight: 500;
    text-transform: uppercase;
  }
  .search-subheading {
    text-align: center;
    font-size: .85rem;
  }
  .search-form {
    margin-top: 10px;
    position: relative;
    width: 100%;
  }
  .search-form input {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: none;
    background-color: #ccc;
    display: block;
    margin: 0 auto;
    padding: 0 10px;
    color: #333;
    outline: none;
    -webkit-transition: background-color .25s ease;
    transition: background-color .25s ease;
    font-size: 1rem;
  }
  .search-form input:focus {
    background-color: darkgray;
  }
  .search-form span {
    position: absolute;
    right: 10px;
    top: 12px;
    color: #33333369;
    z-index: 5;
    font-size: 1.1rem;
  }
 header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0px 0;
    -webkit-box-shadow: 0 6px 18px rgb(21 17 17 / 60%);
    box-shadow: 0 6px 18px rgb(21 17 17 / 60%);
    background-color: #20232a;
    z-index: 10;
}
  header .brand-logo {
    display: block;
  }
  header .brand-logo h3 {
    padding: 0 0 0 25px;
    color: #ccc;
    font-size: 1.8rem;
    font-weight: 600;
  }
  header .search-bar {
    -webkit-box-flex: 1;
        -ms-flex: 1;
          
  }
  header .search-bar form input {
    width: 80%;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: #ccc;
    display: block;
    margin: 0 auto;
    padding: 0 15px;
    color: #333;
    outline: none;
    -webkit-transition: background-color .25s ease;
    transition: background-color .25s ease;
    font-size: .9rem;
  }
  .dog{
    border:1px solid black;
    height:100%;
    overflow-y: scroll;
     color:black;
  }
  .inside{
    display: flex;
    margin-top:10px;
    height:100px;
    background-color:#20232a;
    width:100%;
    color:white;
  }
  .inside, p{
    display: flex;
    flex-direction: column;
     cursor: pointer;
  }
  .inside a{
    text-decoration: none;
    color:white;
  }
  .inside button{
    width:150px;
    font-size:large;
    outline: none;
    border: none;
    background:none;
    
  } 
  .inside i{
    color:green;
  }
  header .graphics {
    width: 35px;
    height: 35px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin-right: 20px;
    transition: all 0.5s;
}
header .graphics .square {
    background-color: #ccc;
}
  header .search-bar form input:focus {
    background-color: darkgray;
  }
 
  h3 {
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    margin: 25px 0 35px;
    text-transform: capitalize;
  }
  .search-container {
    position: relative;
    display: block;
    width: 100%;
  }
  .search-container .search-container-item {
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin: 5px auto 25px;
  }
  .search-container .search-container-item .search-meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 12px;
  }
  .search-container .search-container-item .search-meta span {
    font-size: .85rem;
  }
  .search-container .search-container-item .search-body p {
    line-height: 1.6;
    font-size: .95rem;
  }
  .steve {
    float: right;
    background: white;
    height: 100vh;
    z-index: 2;
    border: 3px 3px;
    width: 25%;
    transform: translateX(100%);
    transition: all 1s;
}

.steve-active {
    transform: translateX(0%);
}
.message {
    border: 1px solid white;
    width: 40%;
    text-align: center;
    margin: auto;
    margin-top: 4%;
}
.inside, p {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.message ul {
    display: block;
    padding: 1rem;
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    background-color: white;
}
.list{
    display: block;
    text-align: left;
    
  }
.list li {
    border: 0.5px solid #20232a;
    margin: 4px;
}
.message{
   border: 1px solid white;
    width: 35%;
    text-align: center;
    margin: auto;
    margin-top:4%;
  }
.message ul li {
    list-style: none;
    color: #20232a;
}
.message input {
    width: 215px;
    height: 30px;
    outline: none;
}
.message button {
    height: 30px;
    transform: translateX(-4px);
    width: 35px;
    background: white;
    color: #20232a;
    outline: none;
    border: none;
    transition: 0.2s all;
}
.active {
    transform: rotate(50deg);
}
}

 /* shjdshdshkh */


@media   (max-width: 800px ){
     body {
    width: 100vw;
    height: 100vh;
    background-color: #20232a;
    position: relative;
    color: #ccc;
    font-family: 'Montserrat', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  body.result {
    width: 100%;
    position: fixed;
    display: block;
    overflow-x: hidden;
}
  .search {
    width: 75%;
  }
  .search-heading {
    text-align: center;
    font-size: 1.8rem;
    padding: 12px 0;
    font-weight: 500;
    text-transform: uppercase;
  }
  .search-subheading {
    text-align: center;
    font-size: .85rem;
  }
  .search-form {
    margin-top: 10px;
    position: relative;
    width: 100%;
  }
  .search-form input {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: none;
    background-color: #ccc;
    display: block;
    margin: 0 auto;
    padding: 0 10px;
    color: #333;
    outline: none;
    -webkit-transition: background-color .25s ease;
    transition: background-color .25s ease;
    font-size: 1rem;
  }
  .search-form input:focus {
    background-color: darkgray;
  }
  .search-form span {
    position: absolute;
    right: 10px;
    top: 12px;
    color: #33333369;
    z-index: 5;
    font-size: 1.1rem;
  }
 header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0px 0;
    -webkit-box-shadow: 0 6px 18px rgb(21 17 17 / 60%);
    box-shadow: 0 6px 18px rgb(21 17 17 / 60%);
    background-color: #20232a;
    z-index: 10;
}
  header .brand-logo {
    display: block;
  }
  header .brand-logo h3 {
    padding: 0 0 0 25px;
    color: #ccc;
    font-size: 1.8rem;
    font-weight: 600;
  }
  header .search-bar {
    -webkit-box-flex: 1;
        -ms-flex: 1;
          
  }
  header .search-bar form input {
    width: 80%;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: #ccc;
    display: block;
    margin: 0 auto;
    padding: 0 15px;
    color: #333;
    outline: none;
    -webkit-transition: background-color .25s ease;
    transition: background-color .25s ease;
    font-size: .9rem;
  }
  header .graphics {
    width: 35px;
    height: 35px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin-right: 20px;
    transition: all 0.5s;
}
header .graphics .square {
    background-color: #ccc;
}
  header .search-bar form input:focus {
    background-color: darkgray;
  }
  .dog{
    border:1px solid black;
    height:100%;
    overflow-y: scroll;
     color:black;
  }
  .inside{
    display: flex;
    margin-top:10px;
    height:100px;
    background-color:#20232a;
    width:100%;
    color:white;
  }
  .inside, p{
    display: flex;
    flex-direction: column;
     cursor: pointer;
  }
  .inside a{
    text-decoration: none;
    color:white;
  }
  .inside button{
    width:150px;
    font-size:large;
    outline: none;
    border: none;
    background:none;
    
  } 
  .inside i{
    color:green;
  }
 
  h3 {
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    margin: 25px 0 35px;
    text-transform: capitalize;
  }
  .search-container {
    position: relative;
    display: block;
    width: 100%;
  }
  .search-container .search-container-item {
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin: 5px auto 25px;
  }
  .search-container .search-container-item .search-meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 12px;
  }
  .search-container .search-container-item .search-meta span {
    font-size: .85rem;
  }
  .search-container .search-container-item .search-body p {
    line-height: 1.6;
    font-size: .95rem;
  }
  .steve {
    float: right;
    background: white;
    height: 100vh;
    z-index: 2;
    border: 3px 3px;
    width: 25%;
    transform: translateX(100%);
    transition: all 1s;
}

.steve-active {
    transform: translateX(0%);
}
.message {
    border: 1px solid white;
    width: 43%;
    text-align: center;
    margin: auto;
    margin-top: 4%;
}
.inside {
    display: flex;
    margin-top: 10px;
    height: 59px;
    background-color: #20232a;
    width: 99%;
    color: white;
}
.inside, p {
    font-size: 8px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.message ul {
    display: block;
    padding: 1rem;
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    background-color: white;
}
.list{
    display: block;
    text-align: left;
    
  }
.list li {
    border: 0.5px solid #20232a;
    margin: 4px;
}
.message {
    border: 1px solid white;
    width: 45%;
    text-align: center;
    margin: auto;
    margin-top: 4%;
}
  .message button:hover{
    background-color:#20232a;
    color:white;
  }
  .message input button{
    margin:0px;
    
  }
.message ul li {
    list-style: none;
    color: #20232a;
}
   .message input {
    width: 200px;
    height: 30px;
    outline: none;
}
.message button {
    height: 30px;
    transform: translateX(-4px);
    width: 35px;
    background: white;
    color: #20232a;
    outline: none;
    border: none;
    transition: 0.2s all;
}
}




@media (max-width: 600px){
    body {
    width: 100vw;
    background-color: #20232a;
    position: relative;
    color: #ccc;
    font-family: 'Montserrat', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body.result {
    width: 100%;
    position: fixed;
    display: block;
    overflow-x: hidden;
}

    header .brand-logo h3 {
    padding: 0 0 0 25px;
    color: #ccc;
    font-size: 12px;
    font-weight: 600;
}
    header .search-bar {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    font-size: 12px;
}
    header .brand-logo h3 {
    padding: 0 0 0 25px;
    color: #ccc;
    font-size: 0.8rem;
    font-weight: 600;
}
header .graphics {
    width: 30px;
    height: 30px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin-right: 20px;
    transition: all 0.5s;
}
    .message {
    border: 1px solid white;
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 4%;
}
.message input {
    width: 150px;
    height: 30px;
    outline: none;
}
.dog{
    border:1px solid black;
    height:100%;
    overflow-y: scroll;
     color:black;
  }
  .inside {
    display: flex;
    margin-top: 10px;
    height: 59px;
    background-color: #20232a;
    width: 99%;
    color: white;
}
  .inside, p {
    font-size: 8px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
  .inside a{
    text-decoration: none;
    color:white;
  }
  .inside button{
    width:150px;
    font-size:large;
    outline: none;
    border: none;
    background:none;
    
  } 
  .inside i{
    color:green;
  }
.message button {
    height: 30px;
    transform: translateX(-4px);
    width: 32px;
    background: white;
    color: #20232a;
    outline: none;
    border: none;
    transition: 0.2s all;
}
.active {
    transform: rotate(50deg);
}

 }

@media (max-width: 400px){

    body {
    width: 100vw;
    background-color: #20232a;
    position: relative;
    color: #ccc;
    font-family: 'Montserrat', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
 body.result {
    width: 100%;
    position: fixed;
    display: block;
    overflow-x: hidden;
}
   header .brand-logo h3 {
    padding: 0 0 0 25px;
    color: #ccc;
    font-size: 10px;
    font-weight: 600;
}

 header .search-bar {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    font-size: 10px;
}
header .graphics {
    width: 25px;
    height: 25px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin-right: 20px;
    transition: all 0.5s;
}
.dog{
    border:1px solid black;
    height:100%;
    overflow-y: scroll;
     color:black;
  }
 .inside {
    display: flex;
    margin-top: 10px;
    height: 59px;
    background-color: #20232a;
    width: 99%;
    color: white;
}
 .inside, p {
    font-size: 8px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
  .inside a{
    text-decoration: none;
    color:white;
  }
  .inside button{
    width:150px;
    font-size:large;
    outline: none;
    border: none;
    background:none;
    
  } 
  .inside i{
    color:green;
  }
    .message ul li {
    list-style: none;
    color: #20232a;
    font-size: 11px;
}
    .message {
    border: 1px solid white;
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 4%;
}
  .message input {
    width: 100px;
    height: 30px;
    outline: none;
}
.message button {
    height: 30px;
    transform: translateX(-4px);
    width: 29px;
    background: white;
    color: #20232a;
    outline: none;
    border: none;
    transition: 0.2s all;
}
.steve {
    float: right;
    background: white;
    height: 100vh;
    z-index: 2;
    border: 3px 3px;
    width: 25%;
    transform: translateX(100%);
    transition: all 1s;
}
.steve-active {
    transform: translateX(0%);
}
.active {
    transform: rotate(50deg);
}
}