* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


  body {
    width: 100vw;
    height: 100vh;
    background-color: #20232a;
    position: relative;
    color: #ccc;
    font-family: 'Montserrat', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body.result {
    width: 100vw;
    position: relative;
    display: block;
    overflow-x: hidden;
  }
  header{
      top:0px;
      position:fixed;
      width:100%;
      text-align: center;
      height:70px;
      display: grid;
      place-items:center;
     box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
  }

  .main{
      display:grid;
      place-items:center;
  }

  .main h1{
      font-size:350px;
  }

  .main button{
      width:200px;
      height:40px;
      outline:none;
      border:none;
      border-radius:2px 2px 2px;
      transition:all 0.2s;
      color:#20232a;
      font-size: x-large;
  }

  .main button:hover{
    background-color:#20232a;
    color:white;
  }
  .display{
    width:35%;
    border-radius:1px solid black;
  }

  .display h2{
    text-align: center;
    padding:0.5rem;
  }
.des{
  text-align: center;
  padding:1rem;
}
.display ul {
  padding:1rem;
}
ul li {
  list-style:none;
  text-transform:capitalize;
}
  @media (max-width: 600px){
    .main h1 {
    font-size: 220px;
}
.display ul {
    margin-top: 4px;
    /* padding: 1rem; */
}
.des {
    font-size: 10px;
    text-align: center;
    /* padding: 1rem; */
}
.display h2 {
    text-align: center;
    /* padding: 0.5rem; */
    font-size: 10px;
}
.main button {
    /* margin-top: 10px; */
    width: 178px;
    height: 33px;
    outline: none;
    border: none;
    border-radius: 2px 2px 2px;
    transition: all 0.2s;
    color: #20232a;
    font-size: x-large;
}
ul li {
    list-style: none;
    text-transform: capitalize;
    font-size: 11px;
}
  }
  @media (max-width: 400px){
    .display h2 {
    font-size: 10px;
    text-align: center;
    padding: -1.5rem;
}
ul li {
    font-size: 10px;
    list-style: none;
    text-transform: capitalize;
}
.des {
    font-size: 12px;
    text-align: center;
    padding: 0.2rem;
}
      .main h1{
      font-size: 180px;
  }
  .main button {
    width: 158px;
    height: 36px;
    outline: none;
    border: none;
    border-radius: 2px 2px 2px;
    transition: all 0.2s;
    color: #20232a;
    font-size: x-large;
}
  }